.about
  text-align center
  padding-top 40px

  &__header
    color #fff
    text-shadow 0 1px 1px #333
    font bold 2em "Roboto Condensed", Arial, Tahoma

  &__text
    color #333
    text-shadow 0 1px 1px #fff

    a
      text-decoration none
      color #333
      border-bottom 1px dashed #27ae60
      -webkit-transition border-color 0.5s ease
      -moz-transition border-color 0.5s ease
      transition border-color 0.5s ease

      &:hover
        border-color #ff4c4b
