.comments
  margin 10px 0 0 100px
  padding 0
  list-style none
  overflow hidden

  &__item
    display block
    margin 0 0 5px 0

  &__pic
    width 20px
    margin-right 5px
    float left

  &__username
    font-size 0.85em
    font-weight bold
    color #444444
    text-decoration none

    &:hover
      border-bottom 1px dashed #444

  &__text
    font-size 0.85em