.follow

  &__header
    color #fff
    text-shadow 0 1px 1px #333
    font bold 2em "Roboto Condensed", Arial, Tahoma
    margin 0
    text-align center

  &__list
    margin 0
    padding 0
    list-style none

  &__item
    float left
    width 100%
    height 100px
    vertical-align top
    margin 0
    background #fff
    border-bottom 1px solid #17b287
    border-right 1px solid #17b287
    border-left 1px solid #17b287

    &:first-child
      border-top 1px solid #17b287

    &:nth-child(4n)
      margin-right 0

    a
      text-decoration none
      color #333
      font bold 1.25em "Roboto Condensed"
      text-align center

  &__avatar
    display inline-block
    width 99px
    float left
    margin-right 10px

  &__username
    -webkit-transition color 0.5s ease
    -moz-transition color 0.5s ease
    transition color 0.5s ease
    overflow hidden
    position relative
    top 35px

    &:hover
      color #ff4c4b

  &__btn
    border 0
    padding 3px 10px
    box-shadow 2px 2px 2px 1px rgba(0,0,0,.5)
    background #ff4c4b
    color #fff
    float right
    margin 10px 10px 0 0

    &_read
      background #27ae60
