.menu
  margin 0
  padding 14px 0 0
  list-style none
  text-align center

  &__item
    display inline-block
    margin-right 15px
    cursor pointer

    &:last-child
      margin-right 0

  &__link
    text-decoration none
    color #17b287
    background #f9f9f9
    font normal 1em "Roboto Condensed"
    padding 5px 20px
    -webkit-transition color 0.5s ease
    -moz-transition color 0.5s ease
    transition color 0.5s ease

    &:hover
      color #ff4c4b