.profile
  margin 40px 0 0
  
  &__photo
    display block
    margin 0 auto
    width 150px
    height 150px

  &__username
    color #fff
    text-shadow 0 1px 2px #333
    text-align center
    line-height 20px
    margin 10px 0 0
    font bold 2em

  &__stats, &__info
    margin 20px 0 30px
    padding 0
    list-style none
    text-align center

  &__item
    display inline-block
    text-align center
    padding 0 20px
    font normal 1.25em
    color #fff
    text-shadow 0 1px 1px #333

    a
      text-decoration none
      color #fff
      text-shadow 0 1px 1px #333
      -webkit-transition color 0.5s ease
      -moz-transition color 0.5s ease
      transition color 0.5s ease

      &:hover
        color #17b287

  &__info

    .profile__item
      color #333
      text-shadow none
      display block
      text-align center