.social
  float left
  margin 32px 0 0 60px
  padding 0
  list-style none

  &__item
    display inline-block
    float left
    margin-left 15px

    &:first-child
      margin-left 0

  &__link
    color #dddbdb
    font normal 24px "Arial", Tahoma, Verdana
    text-decoration none
    -webkit-transition color 0.4s ease
    -moz-transition color 0.4s ease
    transition color 0.4s ease
    text-indent -9999px

    &:hover
      color #27ae60