@import "_vars"
@import "_mixins"

/* Шрифты */
@import "_fonts"

/* Normalize */
@import "_normalize"

/* Глобальные стили */
@import "_globals"

/* Обвязка */
@import "_page"

/* Шапка */
@import "_header"

/* Menu */
@import "_menu"

/* Основной контент */
@import "_main"

/* Боковое меню */
@import "_sidebar"

/* Подвал */
@import "_footer"

/* Форма */
@import "_form"

/* Сетка */
@import "_grid"

/* Строка сетки */
@import "_row"

/* Колонка сетки */
@import "_column"

/* Profile */
@import "_profile"

/* Popular */
@import "_search"

/* Photo List */
@import "_photo-list"

/* About page */
@import "_about"

/* Social Icons */
@import "_social"

/* Feed */
@import "_feed"

/* User in Feed */
@import "_user"

/* Photo in Feed */
@import "_photo"

/* Comments in Feed */
@import "_comments"

/* Followers and Follows */
@import "_follow"

/* Всплывающие окна */
@import "_popup"

/* Responsive */
@import "_responsive"