<div class="profile-page">

  <div class="main-info">
    <div class="photo">
      <img src="" ng-src="{{user.profile_picture}}" alt="{{user.username}}" id="profile_picture"/>
    </div>
    <h4 class="username">{{user.username}}</h4>
    <ul class="stats">
      <li class="media">
        <span class="count">Photos</span><br>
        <span class="media-digits">{{user.counts.media}}</span>
      </li>
      <li class="followers">
        <a href="#/profile/{{user.id}}/followers/">
          <span class="count">Followers</span><br>
          <span class="followed_by-digits">{{user.counts.followed_by}}</span>
        </a>
      </li>
      <li class="you-follow">
        <a href="#/profile/{{user.id}}/follows/">
          <span class="count">Follow</span><br>
          <span class="follows-digits">{{user.counts.follows}}</span>
        </a>
      </li>
    </ul>
    <ul class="info">
      <li class="full_name">{{user.full_name}}</li>
      <li class="bio">{{user.bio}}</li>
      <li class="website">
        <a href="{{user.website}}" target="_blank" id="url">{{user.website}}</a>
      </li>
    </ul>
  </div>
  <ul class="photo-list" ng-controller="GetProfilePhotos">
    <li class="photo-item" ng-repeat="photo in userPhotos">
      <img class="fancybox" href="{{photo.images.standard_resolution.url}}" src="" ng-src="{{photo.images.low_resolution.url}}" title="{{photo.caption.text}}" />
    </li>
  </ul>

</div>